.dropdown{
	position:relative;
}

.dropdown-content{
	display: none;
	position: absolute;
	background-color:#ff4701;
	min-width:100%;
}

.dropdown-content a{
	color:black;
	padding: 10px 0px;
	text-decoration: none;
}

.dropdown:hover .dropdown-content {display:block;}
